.elementor-66 .elementor-element.elementor-element-680f65d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-66 .elementor-element.elementor-element-9723ac2 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-66 .elementor-element.elementor-element-9723ac2.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input,
.elementor-66 .elementor-element.elementor-element-76b19ee .elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .irs--round .irs-bar,
.elementor-66 .elementor-element.elementor-element-76b19ee .irs--round .irs-from,
.elementor-66 .elementor-element.elementor-element-76b19ee .irs--round .irs-to,
.elementor-66 .elementor-element.elementor-element-76b19ee .irs--round .irs-single {
    background-color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .irs--round .irs-handle {
    border-color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .irs--round .irs-from:before,
.elementor-66 .elementor-element.elementor-element-76b19ee .irs--round .irs-to:before,
.elementor-66 .elementor-element.elementor-element-76b19ee .irs--round .irs-single:before {
    border-top-color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf_select__single-value {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper {
    border-color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper .input-range__track--active {
    background-color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: var( --e-global-color-1ce6ae5);
    border-color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-file-upload-label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-calculation-total {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-1ce6ae5);
    fill: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__multi-value__label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__multi-value__remove,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__menu-notice--no-options {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-file-upload-label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-calculation-total,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__multi-value__label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__multi-value__remove,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__option,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__menu-notice--no-options,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-multiselect .mf_multiselect__control {
    background-color: #02010100;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-file-upload-label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-calculation-total,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-select>.mf_select__control,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-multiselect .mf_multiselect__control,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__option {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var( --e-global-color-primary);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input:hover,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .irs--round .irs-handle:hover {
    border-color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-file-upload-label:hover {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input:hover .mf_select__single-value {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-1ce6ae5);
    fill: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__menu-notice--no-options:hover {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input:focus,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .irs--round .irs-handle:focus {
    border-color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-file-upload-container:focus .mf-image-label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-calculation-total:focus {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input>.mf_select__control--is-focused .mf_select__single-value {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-1ce6ae5);
    fill: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-calculation-total:focus,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__option:focus,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__menu-notice--no-options:focus {
    color: var( --e-global-color-1ce6ae5);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .input-range .input-range__track {
    border-radius: 40px;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input {
    border-radius: 40px;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-file-upload-container .mf-input-file-upload-label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-calculation-total {
    border-radius: 40px;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-select>.mf_select__control,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-multiselect .mf_multiselect__control,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__option,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__multi-value__label,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__multi-value__remove,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__menu-notice--no-options {
    border-radius: 40px;
}

.elementor-66 .elementor-element.elementor-element-76b19ee :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text),
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input::placeholder,
.elementor-66 .elementor-element.elementor-element-76b19ee .mf-time-input::before {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    line-height: var( --e-global-typography-accent-line-height);
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: #c9c1c1;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: #c9c1c1;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: #c9c1c1;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: #c9c1c1;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-time-input::before {
    color: #c9c1c1;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input::-webkit-input-placeholder {
    color: #c9c1c1;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input::-moz-placeholder {
    color: #c9c1c1;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input:-ms-input-placeholder {
    color: #c9c1c1;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-input:-moz-placeholder {
    color: #c9c1c1;
}

.elementor-66 .elementor-element.elementor-element-76b19ee :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #c9c1c1;
}

.elementor-66 .elementor-element.elementor-element-76b19ee .mf-error-message {
    color: #FF0000;
}

.elementor-66 .elementor-element.elementor-element-cec8fe6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-66 .elementor-element.elementor-element-f316ddb .mf-btn-wraper {
    text-align: left;
}

.elementor-66 .elementor-element.elementor-element-f316ddb .metform-btn {
    padding: 13px 20px 13px 20px;
    color: #ffffff;
    border-style: none;
    border-radius: 40px 40px 40px 40px;
}

.elementor-66 .elementor-element.elementor-element-f316ddb .metform-btn:hover {
    color: #FFFFFF;
}

.elementor-66 .elementor-element.elementor-element-f316ddb>.elementor-widget-container {
    margin: 0px 0px 0px -189px;
}

@media(max-width:1024px) {
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf-input {
        padding: 10px 10px 10px 10px;
    }
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-file-upload-label {
        padding: 10px 10px 10px 10px;
    }
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-calculation-total {
        padding: 10px 10px 10px 10px;
    }
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf_select__control,
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__control .mf_multiselect__value-container,
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__option,
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf_multiselect__menu-notice--no-options {
        padding: 10px 10px 10px 10px;
    }
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf-input-wrapper .range-slider {
        padding: 10px 10px 10px 10px;
    }
    .elementor-66 .elementor-element.elementor-element-76b19ee :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text),
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf-input::placeholder,
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf-time-input::before {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-66 .elementor-element.elementor-element-f316ddb .metform-btn {
        padding: 10px 20px 10px 20px;
    }
    .elementor-66 .elementor-element.elementor-element-f316ddb>.elementor-widget-container {
        margin: 0px 0px 0px -159px;
    }
}

@media(max-width:767px) {
    .elementor-66 .elementor-element.elementor-element-680f65d {
        --gap: 15px 15px;
    }
    .elementor-66 .elementor-element.elementor-element-9723ac2 {
        --width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-76b19ee :is(.mf_select__placeholder, .mf_multiselect__placeholder, .text),
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf-input::placeholder,
    .elementor-66 .elementor-element.elementor-element-76b19ee .mf-time-input::before {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-66 .elementor-element.elementor-element-cec8fe6 {
        --width: 50%;
    }
    .elementor-66 .elementor-element.elementor-element-f316ddb>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-66 .elementor-element.elementor-element-9723ac2 {
        --width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-cec8fe6 {
        --width: 40%;
    }
}